* {
  box-sizing: border-box; }

body {
  background: #000;
  height: 100%;
  margin: 0px; }
  body h1, body h2 {
    margin: 0px; }
  body h2 {
    font-family: 'Roboto', sans-serif; }

.header {
  width: 100%;
  height: 500px;
  position: relative;
  box-shadow: 0px 4px 25px #000; }
  .header .message-box {
    position: absolute;
    z-index: 2;
    width: 340px;
    height: 450px;
    background: #fff;
    top: 48%;
    left: 10%;
    transform: translateY(-50%);
    border-radius: 15px 0px 15px 0px;
    box-shadow: 0px 0px 10px 0px #000; }
    @media only screen and (max-width: 767px) {
      .header .message-box {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%; } }
    .header .message-box .title {
      font-family: 'Roboto', sans-serif;
      padding: 25px 25px 0px;
      font-size: 20px;
      font-weight: 100;
      color: #03a9f4; }
  .header .mask {
    height: 100%;
    position: relative;
    overflow: hidden; }
    .header .mask .canvas-container {
      overflow: hidden;
      height: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      position: absolute;
      left: 0; }
      .header .mask .canvas-container .canvas {
        height: 100%;
        display: block;
        min-width: calc(100%/4); }
        .header .mask .canvas-container .canvas.slide-1 {
          background: url("http://res.cloudinary.com/tchewa/image/upload/v1510942735/teton_kk9cxk.png") top center no-repeat;
          background-size: cover; }
        .header .mask .canvas-container .canvas.slide-2 {
          background: url("http://res.cloudinary.com/tchewa/image/upload/v1510942735/moran_tzlfoq.png") top center no-repeat;
          background-size: cover; }
        .header .mask .canvas-container .canvas.slide-3 {
          background: url("http://res.cloudinary.com/tchewa/image/upload/v1510942735/firehole_i7tats.png") top center no-repeat;
          background-size: cover; }
        .header .mask .canvas-container .canvas.slide-4 {
          background: url("http://res.cloudinary.com/tchewa/image/upload/v1510946930/prismatic_r6gj5i.png") top center no-repeat;
          background-size: cover; }
    .header .mask .card-container {
      transition: 1s ease-in;
      height: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      position: absolute;
      left: 0;
      transition: all .5s ease-in-out;
      perspective: 800px; }
      .header .mask .card-container .card {
        display: block;
        transition: linear 1s;
        padding: 15px 25px 25px;
        width: 100%;
        transition: transform 1s; }
        .header .mask .card-container .card h1 {
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          font-size: 34px;
          color: #3e3e3e;
          padding-bottom: 20px;
          border-bottom: 1px solid #3e3e3e; }
        .header .mask .card-container .card p {
          font-family: 'Roboto', sans-serif;
          font-weight: 100;
          font-size: 23px;
          line-height: 1.4em; }

.pagination-container {
  position: absolute;
  bottom: 20px;
  right: 0px;
  width: 100%; }
  .pagination-container .pagination-forward-container {
    display: inline-block;
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 10px 0px 0px 10px;
    background: #03a9f4;
    cursor: pointer;
    float: right; }
    .pagination-container .pagination-forward-container .forward-arrow {
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotate(45deg);
      top: 10px;
      left: 7px; }
  .pagination-container .pagination-dot-container {
    display: inline-block;
    float: right;
    padding: 10px 15px 0 0; }
    .pagination-container .pagination-dot-container .dot {
      width: 10px;
      height: 10px;
      margin-left: 10px;
      background-color: #5d5d5d;
      display: inline-block;
      border-radius: 5px;
      cursor: pointer; }
      .pagination-container .pagination-dot-container .dot.selected {
        background-color: #03a9f4; }

.spaced {
  padding: 50px 20px; }

.tile-container {
  background-color: #fff; }
  .tile-container .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .tile-container .tile {
    position: relative;
    width: 31%;
    height: 400px;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    transition: all 200ms ease-in-out;
    color: #000;
    overflow: hidden;
    box-shadow: 0px 0px 30px -10px #000; }
    .tile-container .tile:hover {
      transform: scale(1.12);
      z-index: 2;
      box-shadow: 0px 0px 100px -10px #000;
      background-color: #fff;
      color: #000; }
      .tile-container .tile:hover .img-container {
        transform: scale(0.5);
        margin-top: -40px; }
        @media only screen and (max-width: 650px) {
          .tile-container .tile:hover .img-container {
            transform: scale(1);
            margin-top: 0px; } }
      .tile-container .tile:hover .hovered {
        display: block;
        transition: all 2s; }
      .tile-container .tile:hover .hide-on-hover {
        display: none; }
    @media only screen and (max-width: 767px) {
      .tile-container .tile {
        width: 49%; } }
    @media only screen and (max-width: 650px) {
      .tile-container .tile {
        width: 100%; } }
    .tile-container .tile .img-container {
      width: 80%;
      margin: 25% auto;
      transition: all 200ms ease-in-out; }
      .tile-container .tile .img-container img {
        width: 100%; }
    .tile-container .tile .hidden-tile-content {
      background: linear-gradient(-215deg, rgba(0, 0, 0, 0.4), rgba(3, 169, 244, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(35deg, rgba(0, 0, 0, 0.8), rgba(3, 169, 244, 0.8), rgba(0, 0, 0, 0.8));
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -55%;
      height: 55%;
      transition-delay: 3s;
      transition: all 200ms ease-in-out;
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      font-size: 30px; }
      .tile-container .tile .hidden-tile-content p {
        padding: 20px;
        text-align: center;
        margin-top: 0px; }
    .tile-container .tile .hovered {
      display: none; }

.container {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%; }
