.flat {
	flex-basis: calc(50% - 20px);
	margin: 10px;
	transition: .25s;
}

.flat-picture {
	height: 200px;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}

.flat:hover {
	transform: scale(1.1);
}

.flat-title {
	margin-top: 10px;
	font-weight: lighter;
	font-family: sans-serif;
}
